* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
}

.entete {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background-color: red;
}

.entete .fig {
    max-width: 10%;
}

.entete .fig img {
    width: 100%;
}

.entete .fig h1 {
    font-size: 0.8em;
}

.entete .header-menu {
    width: 80%;
    padding: 30px;
}

.entete .header-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.entete .header-menu ul li {
    margin-left: 15px;
}

.entete .header-menu ul li a {
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
}

.entete .header-menu ul li a:hover {
    color: gold;
}